.container {

  margin-top: 12px;
}

.modal-dialog {
  height: 90%;
  max-width: 80%;
}

.modal-content {
  height: 100%;
}

.sideNav-modal {
  background: rgb(80, 125, 250) !important;
}
.flex {
  display: flex;
  margin-left: 6px;

  select {
    margin-left: 3px;
  }
}

.card-text {
  margin-bottom: 12px;

  h6 {
    margin-bottom: 2px;
  }
}

.page-link {
  border: none;

  .active {
    background-color: grey;
  }
}